.footer{
    background-color:#161619;
    height: 116px;
    padding-top: 19px;
}

.footer-twitter{
    height: 25px;
    padding-left: 73px;
    padding-right: 24px;
   
}




.footer-facebook{
    height: 25px;
    padding-right: 24px;
}


.footer-instagram{
    height: 25px;
    padding-right: 24px;

}


.footer-github{
    height: 25px;
    padding-right: 72.5px;
}








